# Ignore all files
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Now we are ignoring files that don't have an extension (executables)

# Additional files to ignore:

*/bin/*
*.o
*.out
*.exe
*/build/*